#picture {
  height: auto;
  width: 100%;
}

.cls-56 {
  fill: #cde1d8;
}
.cls-21,
.cls-30,
.cls-36,
.cls-48,
.cls-51,
.cls-54,
.cls-57,
.cls-59 {
  fill: #cde1d8;
}
*,
::after,
::before {
  box-sizing: border-box;
}
.cls-54,
.cls-55,
.cls-56 {
  font-size: 40px;
}
.cls-28,
.cls-30,
.cls-34,
.cls-35,
.cls-36,
.cls-39,
.cls-43,
.cls-51,
.cls-54,
.cls-55,
.cls-56,
.cls-57,
.cls-58,
.cls-59,
.cls-60 {
  font-family: Arial-BoldMT, Arial;
}
.cls-57,
.cls-58 {
  font-size: 18px;
}
.cls-28,
.cls-30,
.cls-34,
.cls-35,
.cls-36,
.cls-40,
.cls-41,
.cls-43,
.cls-51,
.cls-54,
.cls-55,
.cls-56,
.cls-57,
.cls-58,
.cls-59,
.cls-60 {
  font-weight: 700;
}
.cls-24 {
  fill: #cde1d8;
}
.cls-21,
.cls-24,
.cls-3,
.cls-5,
.cls-7 {
  stroke-width: 2px;
}
.cls-11,
.cls-12,
.cls-14,
.cls-16,
.cls-17,
.cls-18,
.cls-20,
.cls-21,
.cls-23,
.cls-24,
.cls-26,
.cls-27,
.cls-3,
.cls-31,
.cls-32,
.cls-37,
.cls-4,
.cls-47,
.cls-5,
.cls-7 {
  stroke-miterlimit: 10;
}
.cls-17,
.cls-18,
.cls-21,
.cls-24,
.cls-3,
.cls-4,
.cls-65 {
  stroke: #201600;
}
.cls-25 {
  fill: #f7de74;
}
.cls-11,
.cls-64 {
  stroke: #fff;
  stroke-width: 3px;
}
.cls-11,
.cls-12,
.cls-14,
.cls-16,
.cls-17,
.cls-18,
.cls-20,
.cls-23,
.cls-26,
.cls-27,
.cls-3,
.cls-31,
.cls-32,
.cls-37,
.cls-4,
.cls-47,
.cls-5,
.cls-64,
.cls-65,
.cls-7 {
  fill: none;
}
.cls-26 {
  stroke: #fbdb4a;
}
.cls-38 {
  fill: #c7504b;
}
.cls-13 {
  fill: #36c;
}
.cls-15 {
  fill: #3eb4f0;
}
.cls-10 {
  fill: #939;
}
.cls-22 {
  fill: #d88a4b;
}
text {
  display: block;
  white-space: nowrap;
}
.cls-28,
.cls-30,
.cls-34,
.cls-35,
.cls-36,
.cls-39,
.cls-43,
.cls-51,
.cls-54,
.cls-55,
.cls-56,
.cls-57,
.cls-58,
.cls-59,
.cls-60 {
  font-family: Arial-BoldMT, Arial;
}

.cls-30,
.cls-51 {
  font-size: 12px;
}

.order-1 {
  -ms-flex-order: 1;
  order: 1;
}

.sub-but {
  border: 1px solid black;
  border-radius: 5px;
}
.cls-7 {
  stroke: #d24a43;
}
.cls-21,
.cls-24,
.cls-3,
.cls-5,
.cls-7 {
  stroke-width: 2px;
}
.cls-5 {
  stroke: #4d59a1;
}
.cls-44,
.cls-61 {
  font-family: Arial-ItalicMT, Arial;
  font-style: italic;
}
.cls-28,
.cls-33,
.cls-39,
.cls-44,
.cls-48,
.cls-51 {
  font-size: 10px;
}
.cls-53 {
  fill: #000000;
}
.cls-52 {
  font-size: 41px;
  fill: #000000;
  font-family: ArialNarrow, Arial;
}
.cls-19 {
  fill: #d14a44;
}
.matrix-value-point {
  text-anchor: middle;
  alignment-baseline: middle;
}
#nebo1,
#zemlia1,
#for_self1,
#male1,
#female1,
#socium1,
#duhovnoe1,
#planetarnoe1 {
  border: 2px solid black;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
}
img {
  vertical-align: middle;
  border-style: none;
}
#prednazn td {
  vertical-align: top;
}
.erd {
  width: 50px;
}
.order-1 {
  -ms-flex-order: 1;
  order: 1;
}
.health-map-table {
  background: #f4f4f6 !important;
  text-align: center;
}
.health-map-table tr:nth-child(2) {
  background: #993399 !important;
  background-color: #993399 !important;
  color: white !important;
}
.health-map-table tr:nth-child(3) {
  background: #3366ff !important;
  color: white !important;
}
.health-map-table tr:nth-child(4) {
  background: #33ccff !important;
  color: white !important;
}
.health-map-table tr:nth-child(5) {
  background: #66cc66 !important;
  color: white !important;
}
.health-map-table tr:nth-child(6) {
  background: #ffff99 !important;
  color: black !important;
}
.health-map-table tr:nth-child(7) {
  background: #ff9900 !important;
  color: white !important;
}
.health-map-table tr:nth-child(8) {
  background: #cc3333 !important;
  color: white !important;
}

@media screen and (max-width: 720px), handheld and (max-width: 720px), projection and (max-width: 720px), tv and (max-width: 720px), tty and (max-width: 720px) {
  #picture {
    margin: 0px;
    left: 0px;
  }
}

@media (min-width: 1024px) {
  #row {
    margin: 0 auto;
    width: 700px;
  }
  .img_s {
    margin-left: 70px;
  }
}

@media (max-width: 720px) {
  #row {
    margin: 0 auto;
    width: 100%;
    margin-left: 50px;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .order-md-2 {
    -ms-flex-order: 2;
    order: 2;
  }
}
@media (min-width: 576px) {
  .order-sm-1 {
    -ms-flex-order: 1;
    order: 1;
  }
}

.picture-bracket {
  height: 64px;
  width: auto;
  svg {
    width: auto;
    height: 100%;
  }
}
