.watermark {
  display: flex;
  position: absolute;
  margin: 10px 25px;
  bottom: 0;
  right: 0;
  .watermark-title {
    position: absolute;
    top: -25px;
    left: 50px;
  }
  .watermark-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: #81a695;
  }
  .watermark-name {
    color: #000000;
    font-size: 64px !important;
    font-style: italic;
  }
  .watermark-img {
    display: block !important;
    height: 125px;
    width: 125px;
    object-fit: contain;
  }
}

.matrix-watermark {
  display: flex;
  position: absolute;
  margin: 10px 25px;
  bottom: 0;
  right: auto;
  left: 0;
}
.matrix-watermark-2 {
  position: absolute;
  top: 200px;
  left: -74px;
  font-size: 64px !important;
  color: #000000;
  transform: rotate(-90deg);
  h3.h3 {
    font-size: 48px !important;
  }
}
