@import url("../fonts/stylesheet.css");
@import "watermark";
@import "figure";
@import "table";
@import "typography";

* {
  font-family: "Amalfi";
  font-size: 36px !important;
  line-height: 0.5 !important;
  color: #2e2e2e;
}

body {
  position: absolute;
  height: 100%;
  height: 100vh;
  width: 100vw;
}

.body-container {
  position: relative;
  height: 100%;
  max-width: 750px;
  padding: 0 25px;
  overflow: hidden;
}

.container-result {
  padding: 10px 15px 0 5px;
  margin-bottom: 75px;
}

.container-result-title {
  margin-bottom: 10px;
  letter-spacing: 5px;
  font-size: 52px !important;

  @media (max-width: 600px) {
    margin-right: -15px;
    margin-left: -15px;
    letter-spacing: 1px;
  }
}

.body-row {
  height: 100%;
}

.bg-turquoise {
  background-color: #bdccc5;
}

.bg-image-1 {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../img/bg.PNG);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.21;
    z-index: -1;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #d6d8da;
    z-index: -1;
  }
}

.card-pythagoras {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  padding: 15px 0;
  color: #000000;
  letter-spacing: 2px;
  border: 2px solid #000000;

  border-radius: 10px;
  span {
    margin-bottom: 7px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.card-pythagoras-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-color: transparent;
}

.form-calc {
  width: 100%;
  padding: 0 15px;

  @media (max-width: 600px) {
    padding: 0;
  }
}

.form-title {
  margin: 48px 0;

  @media (max-width: 600px) {
    margin: 24px 0 0 0;
  }
}

.form-group {
  margin: 48px 0;

  @media (max-width: 600px) {
    margin: 12px 0;
  }
}

.form-calc-group {
  position: relative;

  width: 100%;
  @media (max-width: 600px) {
  }
}

.form-calc-control {
  outline: none;
  color: #000000;
  text-align: center;
  padding: 5px;
  font-size: 64px !important;
  background: none;
  border: none;
  border-radius: 50px;
  transition: all 300ms;
  outline: none;
  box-shadow: none;
  appearance: none;

  &.is-invalid {
    border-color: red;
    color: red;
  }

  @media (max-width: 600px) {
    width: 100%;
    padding: 5px;
  }
}

.form-calc-submit {
  padding: 15px 0;
  color: #ffffff;
  border: none;
  background: none;
  outline: none;

  @media (max-width: 600px) {
    padding: 10px 0;
    width: 100%;
  }
}
.form-calc-submit-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  .form-calc-submit-line-body {
    height: 3px;
    width: 100%;
    background: #ffffff;
  }

  .form-calc-submit-line-dot {
    height: 15px;
    width: 15px;
    background: #ffffff;
    border-radius: 100%;
  }
  display: flex;
  .form-calc-submit-line-dot {
    height: 15px;
    width: 15px;
    background: #ffffff;
    border-radius: 100%;
  }

  .form-calc-submit-line-dot-start {
    justify-content: start;
  }
  .form-calc-submit-line-dot-end {
    justify-content: end;
  }
}
.form-calc-label-hover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: #000000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  opacity: 0.3;
}

@media (max-width: 600px) {
  body {
    position: relative;
    height: auto;
    width: auto;
  }

  .mobile-grid {
    display: flex;
    flex-direction: column;
  }

  .card-pythagoras {
    margin: 1px 0;
    letter-spacing: 0px;
    margin-left: -14px;
    margin-right: -14px;
  }

  .mobile-a {
    padding: 10px 0px 5px 0 !important;
  }
}

img {
  display: none !important;
}
img.img {
  display: block !important;
}

.value-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  border-radius: 100%;
  width: 24px;
  height: 24px;
}

.width-50 {
  width: 50%;
}

.m-auto {
  margin: auto;
}

@media (max-width: 600px) {
  .body-style-2 {
    padding-bottom: 50px;
    background: #cde1d8;
  }
}

.card-prev {
  margin: 15px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  img {
    height: 250px;
    width: 250px;
    object-fit: contain;
  }
}

.matrix-title {
  font-size: 64px !important;
}
.matrix-control {
  color: #ffffff !important;
  font-size: 64px !important;
  height: 64px;
  &::-webkit-input-placeholder {
    color: #ffffff !important;
    font-size: 64px !important;
  }
  &:-ms-input-placeholder {
    color: #ffffff !important;
    font-size: 64px !important;
  }
  &::-moz-placeholder {
    color: #ffffff !important;
    font-size: 64px !important;
  }
  &:-moz-placeholder {
    color: #ffffff !important;
    font-size: 64px !important;
  }
}
.matrix-label {
  color: #ffffff !important;
  font-size: 64px !important;
  opacity: 1;
}
.matrix-submit {
  color: #000000;
  background-color: #ffffff;
  border-radius: 100%;
  font-size: 64px !important;
  padding: 24px;
}
.matrix-container-result {
  padding-bottom: 32px;
  * {
    font-family: "Amalfi" !important;
  }
}

.matrix-form-calc {
  margin: auto;
  padding: 0 24px;

  width: auto;
}
